{%extends 'profile.html'%} {%block user_details%}
<div class="all-posts-div">
  <h2>Posts:</h2>
  {%if not posts%}
  <p>No posts.</p>
  {%endif%} {%for post in posts%}
  <div class="post-div">
    <p class="post-text">{{post.text}}</p>
    {%if authorization%}

    <button class="post-delete-btn" data-id="{{post.id}}">DELETE POST</button>

    {%endif%}
    <p class="post-date">{{post.friendly_date}}</p>
  </div>
  {%endfor%}
</div>
{%endblock%} {%block script%}
<script src="/static/profile_post.js"></script>
{%endblock%}
