{%extends 'base.html'%} {%block title%}Post{%endblock%} {%block style%}
<link rel="stylesheet" href="/static/login_register.css" />
{%endblock%} {%block content%}
<div class="container big-div">
  <h1>Post</h1>
  <form method="POST">
    {{form.hidden_tag()}}{%for field in form if field.widget.input_type !=
    'hidden'%}
    <div class="mb-3">
      {{field.label(class_="form-label")}}: {{field (class_="form-control
      wtf-color")}} {%for error in field.errors%}
      <p>{{error}}</p>
      {%endfor%}
    </div>
    {%endfor%}
    <button class="submit-btn" type="submit">Submit</button>
  </form>
</div>
{%endblock%}
